Repository ShaBaiTianCN/Chroma-Technology-2, pull requests merged in 2022-05, with the labels that each got.

#5 translate enigmatic legacy
  config/ftbquests/quests/chapters/enigmatic_legacy.snbt
Labels: ready to merge, quests

#3 Translate Blood Magic
  config/ftbquests/quests/chapters/blood_magic.snbt
Labels: ready to merge, quests

#4 translate Create
  config/ftbquests/quests/chapters/create.snbt
Labels: ready to merge, quests

#1 Quests Translate
  config/ftbquests/quests/chapters/applied_energistics.snbt
  config/ftbquests/quests/chapters/ars_nouveau.snbt
  config/ftbquests/quests/chapters/getting_started.snbt
  config/ftbquests/quests/chapters/industrial_foregoing.snbt
  config/ftbquests/quests/chapters/pedestals.snbt
  config/ftbquests/quests/chapters/poductive_bee.snbt
  config/ftbquests/quests/chapters/refined_storage.snbt
  config/ftbquests/quests/chapters/reliquary.snbt
  config/ftbquests/quests/chapters/silent_mechanic.snbt
  config/ftbquests/quests/chapters/woot.snbt
Labels: quests

#12 Translate apotheosis
  config/ftbquests/quests/chapters/apotheosis.snbt
Labels: ready to merge, quests

#11 Further Fix #9
  config/ftbquests/quests/chapters/applied_energistics.snbt
  config/ftbquests/quests/chapters/botania.snbt
  config/ftbquests/quests/chapters/challenges.snbt
  config/ftbquests/quests/chapters/create.snbt
  config/ftbquests/quests/chapters/eidolon.snbt
  config/ftbquests/quests/chapters/enigmatic_legacy.snbt
  config/ftbquests/quests/chapters/extended_crafting.snbt
  config/ftbquests/quests/chapters/ice_and_fire.snbt
  config/ftbquests/quests/chapters/industrial_foregoing.snbt
  config/ftbquests/quests/chapters/mahoutsukai.snbt
  config/ftbquests/quests/chapters/mekanism.snbt
  config/ftbquests/quests/chapters/powaaaah.snbt
  config/ftbquests/quests/chapters/refined_storage.snbt
  config/ftbquests/quests/chapters/rftools.snbt
  config/ftbquests/quests/chapters/solar_panels.snbt
  config/ftbquests/quests/chapters/sophisticated_backpacks.snbt
  config/ftbquests/quests/chapters/woot.snbt
  kubejs/startup_scripts/custom_stuff.js
Labels: quests

#14 Fix #13
  config/ftbquests/quests/chapters/mystical_agriculture.snbt
Labels: ready to merge, quests

#17 添加 Lazier AE2 翻译
  kubejs/assets/lazierae2/lang/en_us.json
  kubejs/assets/lazierae2/lang/zh_cn.json
Labels: enhancement
